<link rel="stylesheet" media="print" href="assets/styles/print.css"/>
<script src="assets/app/jquery.PrintArea.js" type="text/JavaScript"></script>
<div class="row small-spacing">
	<div class="col-md-12">
		<div class="box-content">
			<div class="row">
				<div class="col-sm-12">
					<form name="form" class="form-inline" role="form">
						<label class="control-label"> Tanggal : </label>
						<input type="text" class="form-control" ng-model="crit.tanggal" id="tanggal" required/>
						<label class="control-label"> Status : </label>
						<select class="form-control select2" ng-model="crit.status">
							<option value="semua">- Semua -</option>
							<option value="sudah">Sudah Masuk Kapal</option>
							<option value="belum">Belum Masuk Kapal</option>
						</select>
						<div class="btn-group">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pilih <span class="caret"></span></button> 
							<ul class="dropdown-menu">
								<li><a ng-click="view(crit, '')"><i class="fa fa-refresh"></i> View</a></li>
								<li><a ng-click="print()"><i class="fa fa-print"></i> Print</a></li>
								<li><a ng-click="view(crit, 'xls')"><i class="fa fa-file-excel-o"></i> Excel</a></li>
								<li><a ng-click="view(crit, 'pdf')"><i class="fa fa-file-pdf-o"></i> Pdf</a></li>
							</ul>
						</div>
					</form>					
				</div>
			</div>
			<div class="row" style="padding-top: 10px">
				<div class="alert alert-info" ng-show="mode == ''">Pilih tanggal dan status !</div>
				<div class="alert alert-info" ng-show="rows.length == 0 && mode != ''">Data kendaraan belum ada !</div>
			</div>
			<div class="row" style="padding-top: 10px" id="printableKendaraan">
				<div class="col-sm-12 margin-bottom-20" ng-show="mode == 'print'">
					<div class="text-center">
						<img src="assets/images/header.png" border="0"/>
					</div>
				</div>
				<div class="col-sm-12 margin-bottom-20" ng-show="mode == 'print'">
					<div class="text-center">
						<h4 class="font-bold">
							DATA KENDARAAN
						</h4>
					</div>
				</div>
				<div class="col-sm-12">
					<table class="table table-striped" ng-if="rows.length > 0">
						<thead>
							<tr>
								<th>No.</th>
								<th>Kode Boarding</th>
								<th>Golongan</th>
								<th>Nama Pengemudi</th>
								<th>Jenis Kelamin</th>
								<th>Usia</th>
								<th>Alamat</th>
								<th>No Polisi</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="r in rows">
								<td>{{$index + 1}}</td>
								<td>{{r.kode_boarding}}</td>
								<td>{{r.golongan}}</td>
								<td>{{r.nama}}</td>
								<td>{{r.jenis_kelamin}}</td>
								<td>{{r.usia}}</td>
								<td>{{r.alamat}}</td>
								<td><button type="button" class="btn btn-xs btn-warning" ng-click="open(r, 'lg')" ng-show="r.no_polisi != null">{{r.no_polisi}}</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
	var datePickConfig	= {
		autoclose: true,
		todayHighlight: true,
		format: 'yyyy-mm-dd'
	};
	jQuery('#tanggal').datepicker(datePickConfig);	
});
</script>